#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 530px; 
  gap: 40px;
  align-items: start;
}
.left {
  display: flex;
  flex-direction: column; 
  gap: 12px; 
}
.right {
  display: flex;
  flex-direction: column; 
  gap: 12px;
  margin-top: 20px;
}

.boardTitle {
  margin: 0px 0 2px 4px;
  color: #333;
  font-size: 1.1rem;
  font-weight: bold;
}

