.candScroll {
	height: 300px;
	overflow-y: auto;
	border: 2px solid #ccc;
	border-radius: 12px;
	padding: 12px;
	background-color: #fff;
	box-sizing: border-box;
	margin-bottom: 16px;
}

.candGrid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 24px;
	row-gap: 8px;
	padding: 4px 8px;
}

	.candGrid > div {
		font-size: 20px;
		text-align: center;
		font-weight: 700;
		transition: background-color 0.2s ease;
		width: fit-content;
		margin: 0 auto; 
		padding: 2px 6px; 
		border-radius: 4px; 
		cursor: pointer; 
	}

		.candGrid > div:hover {
			background-color: #e8e8e8;
		}

.right .candScroll:nth-of-type(2) {
	height: 115px; 
}

.noResult {
	width: 100%;
	height: 100%;

	display: flex; 
	justify-content: center; 
	align-items: center; 

	color: #aaa; 
	font-size: 1.2rem; 
	font-weight: bold;
}